.label {
	text-align: right;
	vertical-align: middle;
	float: left;
	font-size: 14px;
	color: #606266;
	line-height: 40px;
	padding: 0 12px 0 0;
	box-sizing: border-box;
	font-weight: 700;
	margin-right: 20px;
}

.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.div-right{
	display: flex;
	justify-content: flex-end;
}
.div-center{
	display: flex;
	justify-content: center;
}


/*********************************************************************************************************
滚动条系列
*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: #f5f5f5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c8c8c8;
}
// 侧边栏的原生滚动条
.sidebar-container{
	::-webkit-scrollbar {
	  width: 0px;
	  height: 0px;
	}
}
/*********************************************************************************************************
盒子计算方式
*/
* {
box-sizing: border-box;
// font-size: 14px;
}

/*********************************************************************************************************
字体
*/
#app {
font-family: Avenir, Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: #2c3e50;
}

/*********************************************************************************************************
图片
*/
svg,img { 
vertical-align: middle;
} 


label {
font-weight: 700;
}



