
        /*********************************************************************************************************
        侧边栏系列
        */
          // 侧边栏收缩的transition
          .sidebar-container {
              transition: width 0.28s;
              width:$sideBarNoCollapseWidth !important;
              // background-color: $menuBg;
              height: 100%;//calc(100% - #{$sidebar-logo-container});  没有侧边栏
              overflow: hidden;
			  
			  position:relative;
          }
		  // .sidebar-container:after{
		  // 		     content:"";
		  // 		     position: absolute;
		  // 			 display: block;
		  // 		     right: 0px;
		  // 		     top: 0px;
		  // 		     width: 1px;
		  // 		     height: 100%;
		  // 		     background-color: #bbb;
		  // 		     /* 如果不用 background-color, 使用 border-top:1px solid #e0e0e0; */
		  // 		     -webkit-transform: scaleX(.5);
		  // 		     transform:scaleX(.5);
		  // }


        // 折叠时候的侧边栏的宽度
        .isCollapse.sidebar-container{
          width:$sideBarIsCollapseWidth !important;
          // 折叠时候的 导航菜单的宽度
          .el-menu--collapse.el-menu{
            width: $menuIsCollapseWidth !important;
          }
        }


        /*********************************************************************************************************
        导航栏系列
        */
        // 导航栏折叠的时导航栏隐藏 图标
        .isCollapse .el-submenu__icon-arrow.el-icon-arrow-right{
          font-size: 0 !important;
        }

        //导航栏去除边框
        .el-menu{
          border: 0px ;
        }

        //导航栏折叠时候 隐藏标题
        .el-menu--collapse {
          // background-color: black;
            .el-submenu {
              & > .el-submenu__title {
              & > span {
                margin: 0;
                padding: 0;
                height: 0;
                width: 0;
                overflow: hidden;
                visibility: hidden;
                display: inline-block;
              }
              }
            }
          }

          // //当点击了子菜单时 父菜单的文本颜色
          .is-active > .el-submenu__title {
            // color: $subMenuActiveText !important;
          }
          //非一级的一行菜单栏背景悬浮色
          .nest-menu .el-submenu > .el-submenu__title,
          .el-submenu .el-menu-item {
              // background-color: $subMenuBg !important;

              &:hover {
                // background-color: $subMenuHover !important;
              }
          }

          //导航栏展开的时候, title左边的图标的margin
          .titile-left-icon{
            margin-left: $titileLeftIcon;
			width: 24px;
			height: 18px;
			font-size: 18px;
			margin-right: 10px;
          }

        /*********************************************************************************************************
        侧边栏的滚动条系列  .scrollbar-wrapper 和 .el-scrollbar__wrap 都是在同一个dom上    。scrollbar-wrapper是自定义的类名
        */
        .el-aside .el-scrollbar{
          height: 100% !important;//作用侧边栏和头部的网页标签
          .scrollbar-wrapper {//只限于 侧边栏的
            overflow-x: hidden !important;
            height: 100% !important;
            .el-scrollbar__view{
              // height: 100% !important;
            }
          }
		  //侧边栏的标题过长的时候 将x轴的滚动条的高度设置为0，el-scorll不是正常的滚动条，移除隐藏没有用
		  .el-scrollbar__bar.is-horizontal{
		    height: 0px !important;
		  }
          
        }
        


