.theme-nav{
	/* ********************************************************************************************************************
	导航栏 
	*/
	$menuBg : black;//背景色
	$color:#bfcbd9;
	$primaryColor:#409EFF;
	// font-weight: 500 ;
	// &{
	// 	*{
	// 		font-weight:inherit !important;
	// 	}
	// }
	.el-aside{
		font-size: 14px;
		font-weight: 500 ;
		&{
			*{
				font-size: inherit ;
				font-weight:inherit ;
			}
		}
	}
	.el-main{
		font-size: 14px;
	}
	
	
	
	.sidebar-container {
	    background-color: $menuBg !important;//侧边栏背景色
		
	}
	.sidebar-container:after{
			     background-color: #d8dce5;

	}
	.el-menu-item{//权重最低的 没有有子目录的一级目录
		background-color: $menuBg !important;//背景色
		color:$color;        //默认字体颜色
		// font-weight: 500 !important;
		i{
			color: $color;
		};
		&:hover {
		  color: $primaryColor !important;    //字体颜色
		  i{
			 color: $primaryColor !important;    //字体颜色 
		  }
		}
	}
	.el-submenu__title{//权重最低的 有子目录的一级目录
		background-color: $menuBg !important;  //背景色
		color:$color ;        // 默认字体颜色
		// font-weight: 500 !important;
		i{
			color: $color;
		};
		&:hover {
		  color: $primaryColor !important;    //字体颜色
		  i{
			 color: $primaryColor !important;    //字体颜色 
		  }
		}
	}
	
	.el-submenu .el-menu-item {//非一级的某行菜单栏
	    background-color: rgb(52, 63, 74) !important; //背景色
	    // font-weight: 500 !important;
	    &:hover {
	      color: $primaryColor !important;    //字体颜色
	      i{
	    	 color: $primaryColor !important;    //字体颜色 
	      }
	    }
	}
	
	.el-menu li.is-active.el-menu-item{// 某行激活的菜单栏
		color:white !important;    //字体激活颜色
		background-color: $primaryColor !important;
		&:hover {
			i{
				  		color: white !important;    //字体颜色 
			}
		}
	}
	
	.is-active > .el-submenu__title {//当点击了子菜单时的父菜单
	  //color: $color !important; //的文本颜色 
	}
	//手机状态下
	.el-container>.mobile{
		background:$menuBg;
		// position: relative;
		// z-index: 999;
	}
	/* ***************************************************************************************************************
	tagView 
	
	// 1 tags-view-container
	// 2 scroll-container(在ScrollPane)
	// 3 .tags-view-wrapper.el-scrollbar       4 .el-scrollbar__warp     5 .el-scrollbar__view      6.tags-view-item
	*/
	.tags-view-container{
		.tags-view-item{
			display: inline-block;
			position: relative;
			cursor: pointer;
			height: $tags-view-item; //改item高度 就修改这个 3
			line-height: $tags-view-item; //改item高度 就修改这个 4
			border: 1px solid #d8dce5;
			color: #495060;
			background: #fff;
			padding: 0 8px;
			font-size: 12px;
			margin-left: 5px;
			margin-top: 4px;
			border-radius: 2.5px;
			transition: all .3s;
			&:first-of-type {
			  margin-left: 15px;
			}
			&:last-of-type {
			  margin-right: 15px;
			}
			// 前面的圆点
			&::before {
			  content: "";
			  background: #1890ff;
			  display: inline-block;
			  width: 0px;
			  height:0px;
			  border-radius: 50%;
			  position: absolute;
			  transition: all .3s;
			  top:0;bottom:0;left:0;right:0;
			  margin:auto 10px;
			  transform-origin: 50%;
			  // transform: scale(0);
			}
			////////////////////////////////////////////////	  
			&.active {
				background-color: #e8f4ff;
				color: #1890ff;
				border-color: #1890ff;
				padding-left: 20px;
				// 前面的圆点
				&::before {
				  width: 8px;
				  height:8px;
				}
				// 单个tag的文字
				.titleText {
				  // padding-right: 16px;
				  // padding-left: 16px;
				}
				// background-color: $primaryColor !important;
				// color: white !important; 
				// border-color: $primaryColor !important; 
				// // .el-icon-close{
				// // 	background-color: red;//#b4bccc;
				// // 	color: white;
				// // }
				// .titleText {
				// 	padding-right: 10px;
				// 	padding-left: 10px;
				// }
			}
			// 关闭按钮
			.el-icon-close {
			  width: 16px;
			  height: 16px;
			  vertical-align: 2px;
			  border-radius: 50%;
			  text-align: center;
			  transition: all 0.3s; //cubic-bezier(0.645, 0.045, 0.355, 1)
			  transform-origin: 100% 50%;
			  &:before {
			    transform: scale(0.6);
			    display: inline-block;
			    vertical-align: -3px;
			  }
			  &:hover {
			    background-color: #b4bccc;//#b4bccc;
			    color: white;
			  }
			}
			// 单个tag的文字
			.titleText {
			  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;//.active 增加过渡
			  padding-right: 10px;
			  padding-left: 10px;
			}
		}
	}
	
	/* **************************************************************************************************
	文字提示 */
	// .success-tooltip {
	//   background: $primaryColor !important;
	//   color: #ffffff !important;
	
	//   .popper__arrow {
	//     border-right-color: $primaryColor !important;
	
	//     &::after {
	//       border-right-color: $primaryColor !important;
	//     }
	//   }
	// }
	
	// .failed-tooltip {
	//   background: #909399 !important;
	//   color: #ffffff !important;
	
	//   .popper__arrow {
	//     border-right-color: #909399 !important;
	
	//     &::after {
	//       border-right-color: #909399 !important;
	//     }
	//   }
	// }
	/* **************************************************************************************************
	高亮当前行 
	*/
	/*  对于写了 highlight-current-row (单选)的table点击的时候添加的class样式 */
	.el-table__body tr.current-row > td {
	  // background-color: #69A8EA !important;
	  // background-color: #1f2d3da1 !important;
	  // color: #fff;
	}
}